{%- form 'localization', class: 'localization-selector-form', id: form_id -%}
  {%- if show_locale_selector and shop.published_locales.size > 1 -%}
    <div class="localization-selector localization-selector__locale">
      <wetheme-dropdown fit="current" direction="{{ direction | default: "down" }}">
        <h2 class="hide">
          {{ 'general.language.dropdown_label' | t }}
        </h2>

        <select name="locale_code" class="wetheme-dropdown__select" id="{{form_id}}_language_selector">
          {% for locale in form.available_locales %}
            <option value="{{ locale.iso_code }}" {% if locale.iso_code == form.current_locale.iso_code %}selected{% endif %}>{{ locale.endonym_name }}</option>
          {% endfor %}
        </select>

        <label for="{{form_id}}_language_selector">{{ 'general.language.dropdown_label' | t }}:</label>
      </wetheme-dropdown>
    </div>
  {%- endif -%}

  {%- if show_currency_selector and shop.enabled_currencies.size > 1 -%}
    <div class="localization-selector localization-selector__currency">
      <wetheme-dropdown fit="current" direction="{{ direction | default: "down" }}">
        <h2 class="hide">
          {{ 'general.currency.dropdown_label' | t }}
        </h2>

        <select name="currency_code" class="wetheme-dropdown__select" id="{{form_id}}_currency_selector">
          {% for currency in form.available_currencies %}
            <option value="{{ currency.iso_code }}" {% if currency.iso_code == form.current_currency.iso_code %}selected{% endif %}>{{ currency.iso_code }} {% if currency.symbol %}{{ currency.symbol }}{% endif %}</option>
          {% endfor %}
        </select>

        <label for="{{form_id}}_currency_selector">{{ 'general.currency.dropdown_label' | t }}:</label>
      </wetheme-dropdown>
    </div>
  {%- endif -%}
{%- endform -%}
